
@{
    ViewBag.Title = "PaintHTMLEditor";
}

<script src="~/Scripts/ControlsScript/DevExtremeHTMLEditor.js"></script>
<link href="~/Content/ControlStyles/HTMLEditor.css" rel="stylesheet" />

<div class="demo-container paddingTop">
    <div class="html-editor"></div>
</div>
