
@{
    ViewBag.Title = "DisplayPivotGrid";
}


<script src="~/Scripts/ControlsScript/DevExtremePivotGrid.js"></script>

@*<div class="demo-container">
    <div id="pivotgrid-demo">*@
        <div id="pivotgrid-chart"></div>
        <div id="pivotgrid"></div>
    @*</div>
</div>*@