<script src="~/Scripts/ControlsScript/Modelpopup.js"></script>
<link href="~/Content/ControlStyles/ModelPopUp.css" rel="stylesheet" />
<div id="container" class="button-container">
    <div id="button"></div>
    <div id="popup"></div>
</div>

<input type="button" value="Click" class="button-container" id="btnClick" />
